{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Dashboard</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Bootstrap CSS File -->
<link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<!-- Main CSS file -->
 <link href="{% static 'css/new_style.css' %}" rel="stylesheet">
 <style>

	 h2,tr,th, h1,a {
		 color: white;
	 }
	/* Full height image header */
	.bgimg-1 {
	  background-position: center;
	  background-size: cover;
	  background-image: url("{% static 'img/background.jpeg' %}");
	  min-height: 100%;
	}

	.table-hover tbody tr:hover td {
    background: DeepSkyBlue  ;
	}
</style>
<body>
</head>
<!-- Navbar (sit on top) -->
<div class="w3-top">
    <div class="w3-bar w3-white w3-card" id="myNavbar">
        <a href="{% url 'home' %}" class="w3-bar-item w3-button w3-wide"><i class="fa fa-home"></i> ProjectManager</a>
      <!-- Right-sided navbar links -->
      <div class="w3-right w3-hide-small">
        <a href="{% url 'dashboard' %}" class="w3-bar-item w3-button"><i class="fa fa-list"></i> My Projects</a>
        <a href="{% url 'project-create' %}" class="w3-bar-item w3-button"><i class="fa fa-plus"></i> Create Project</a>
        <a href="{% url 'profile' %}" class="w3-bar-item w3-button"><i class="fa fa-user"></i> My Profile</a>
        <a href="{% url 'logout'%}?next={{request.path}}" class="w3-bar-item w3-button"><i class="fa fa-sign-out"></i> Sign out</a>
      </div>
      <!-- Hide right-floated links on small screens and replace them with a menu icon -->
      <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </div><!--Navbar end-->
<!-- Header with full-height image -->
<header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
	<div class="container-fluid" style="margin-top: 65px">
		<div class="row">
			<div class="col-md-4">
			</div>
			<div class="col-md-4">
				<h1>My Projects</h1>
				<table class="table table-responsive table-hover" style="table-hover: background-color:white;">
					<thead>
						<tr>
							<th>
								Project
							</th>
							<th>
								Project Due Date
							</th>
							<th>
								Project Created
							</th>
							<th>
							</th>
						</tr>
					</thead>
					<tbody>
						{% for project in project_list %}
						<tr class="clickable">
							<td>
								<a href="{{ project.get_absolute_url }}">{{ project.projectname }}</a>
							</td>
							<td>
								{{ project.project_deadline }}
							</td>
							<td>
								{{ project.proj_created_at }}
							</td>
						</tr>
						{% endfor %}
					</tbody>

				</table>
			</div>
		</div>
	</div>
</header>
</body>
</html>